{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
        <br>
        <br>
        <h5>All Listed Facebook Pages</h5>
          <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">SN</th>
                <th scope="col">Page Name</th>
                <th scope="col">Page ID</th>
              </tr>
            </thead>
            {% if pages %}
            <tbody>
              {% for page in pages %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ page.name }}</td>
                <td>{{ page.page_id }}</td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
            <tbody>
              <tr>
                <th colspan=4 style="text-align:center;">No Records to Show!</th>
              </tr>
            </tbody>
            {% endif %}
          </table>
  </div>
</div>
{% endblock content%}
