{% extends "base.html" %}
{% block title %} {{ title }} {% endblock title %}

{% block head_block %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

{% endblock head_block %}


{% block content %}

<div class="row">
  <div class="col-md-12"><br>

            {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="text-align:center;">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}

            <form class="" role="form" method="post" enctype="multipart/form-data" {% if success %}style="display:none;"{% endif %}>
                {% csrf_token %}
                <br>
              {% for field in form %}
              <div class="row">
                <div class="col-sm-12">
                </div>

                  <div class="col-sm-4">
                      <label>{{field.label}}</label>
                  </div>
                  <div class="col-sm-8">
                      <div class="form-group {% if field.errors %}has-error{% endif %}">
                          {{ field }} {% if field.errors %}
                          <span class="help-block">{{ field.errors.as_text }}</span> {% endif %}
                      </div>
                  </div>
              </div>
              {% endfor %}

              <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
              </div>
          </form>

  </div>
</div>

{% endblock content%}

{% block footer_block %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<script>
  // jQuery(".bootstrap-switch").bootstrapSwitch();
  $(function() {
    $('#id_all_page').bootstrapToggle();
  })

  $(document).ready(function() {
      $('#id_multiple_pages').select2({
        placeholder: " Select Multiple Pages"
    });
      $("#id_message").attr({'placeholder':'Happy New Year!'})
      $("#id_image_url").attr({'placeholder':'Image URL'})
      $("#id_video_url").attr({'placeholder':'Video URL'})
      $("#id_video_description").attr({'placeholder':'Video Description'})      
      $("#id_token").attr({'placeholder':'GH87GDS5357887HUTRCBCDSEWR98HY09OP2432'})
  });

  // $(function() {
  //   $('#id_all_page').on('change', function(){
  //     console.log('hey...');
  //     $('#id_multiple_pages').hide()
  //
  //   });
  // })


</script>
{% endblock footer_block%}
